client/Connected Services/ServiceReference1/ChefService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/chef_servicelibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/chef_servicelibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Chef">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="chefId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Chef" nillable="true" type="tns:Chef" />
</xs:schema>