client/Connected Services/ServiceReference1/ChefService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/ChefService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/chef_servicelibrary" />
  <xs:element name="AddChef">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/chef_servicelibrary" minOccurs="0" name="chef" nillable="true" type="q1:Chef" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddChefResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChefs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="chefId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChefsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetChefsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChef">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="chefId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChefResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/chef_servicelibrary" minOccurs="0" name="GetChefResult" nillable="true" type="q2:Chef" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateChef">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/chef_servicelibrary" minOccurs="0" name="chef" nillable="true" type="q3:Chef" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateChefResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteChef">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="chefId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteChefResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>